input-reset()
  margin 0
  padding 0
  box-sizing border-box
  border-radius 0
  background transparent
  -webkit-appearance none
  background-clip padding-box
  outline 0
  text-align left
  border none
