.page
  position relative
  footer
    position absolute
    bottom 0
    margin 10px
    width calc(100% - 40px)
    border-top 1px solid #e7e7e7
  form
    width 50%
    margin auto
    h3
      border-bottom 1px solid #ddd
      padding-bottom 5px
